<!DOCTYPE html>
<html>
<head>
  <title className="fibHub">FidHub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar">
    <center><h1><br/><a class="navbar-title" href="/">FidHub</a></h1><center/>
      <center class="navbar-options">
          <br/>
        <%- if current_user -%>
          <%- if current_user.role == "Client"-%>
          <span class="r-link ai-element ai-element_type1 ai-element1">
            <span class="ai-element__label"><%= link_to 'My Advisor', viewadvisor_path, method: :get %></span>
          </span>
          <span class="r-link ai-element ai-element_type1 ai-element1">
            <span class="ai-element__label"><%= link_to 'Edit Profile', edit_user_registration_path, method: :get %></span>
          </span>
          <span class="r-link ai-element ai-element_type1 ai-element1">
            <span class="ai-element__label"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></span>
          </span>
          <% end %>
          <%- if current_user.role == "Advisor"-%>
          <span class="r-link ai-element ai-element_type1 ai-element1">
            <span class="ai-element__label"><%= link_to 'My Clients', viewclients_path, method: :get %></span>
          </span>
          <span class="r-link ai-element ai-element_type1 ai-element1">
            <span class="ai-element__label"><%= link_to 'Edit Profile', edit_user_registration_path, method: :get %></span>
          </span>
          <span class="r-link ai-element ai-element_type1 ai-element1">
            <span class="ai-element__label"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></span>
          </span>
          <%- end -%>
          <%- if current_user.role == "user"-%>
          <span class="r-link ai-element ai-element_type1 ai-element1">
            <span class="ai-element__label"><%= link_to 'Edit Profile', edit_user_registration_path, method: :get %></span>
          </span>
          <span class="r-link ai-element ai-element_type1 ai-element1">
            <span class="ai-element__label"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></span>
          </span>
          <%- end -%>
        <% else %>
        <span class="r-link ai-element ai-element_type1 ai-element1">
        <span class="ai-element__label"><%= link_to 'Sign Up', new_user_registration_path %></span>
        </span>
        <span class="r-link ai-element ai-element_type1 ai-element1">
        <span class="ai-element__label"><%= link_to 'Sign In', new_user_session_path %></span>
        </span>
        <% end %>
  </nav>
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
