<!DOCTYPE html>
<html>
<head>
  <title>Wellplan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar">
    <center><h1><a class="navbar-title" href="/">Wellplan</a></h1><center/>
      <center class="navbar-options">
        <%- if current_user -%>
          <ul><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></ul>
          <ul><%=link_to "Client", clients_path, class: 'link-to-text-color' %></ul>
          <ul><%=link_to "Advisor", advisors_path, class: 'link-to-text-color' %></ul>
        <%- else -%>
          <ul><%= link_to 'Sign Up', new_user_registration_path %></ul>
          <ul><%= link_to 'Sign In', new_user_session_path %></ul>
          <ul><%=link_to "Client", clients_path, class: 'link-to-text-color' %></ul>
          <ul><%=link_to "Advisor", advisors_path, class: 'link-to-text-color' %></ul>
        <%- end -%>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
